gdal @ file://../wheels/gdal-3.12.2-cp312-cp312-win_amd64.whl
altgraph==0.17.5
numpy==2.5.2
packaging==26.3
pefile==2024.8.26
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.6
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.12.0
pywin32-ctypes==0.2.3
setuptools==84.0.0